:root {
    box-sizing: border-box;
}

html,
body,
*{
    margin: 0;
    padding: 0;
}

#app {
    height: 100vh;
}

.summary{
    margin: 0 auto;
    border:  3px solid blanchedalmond;
    width: 400px; 
    height: 400px;
    text-align: center;
}

.games{
    display: flex;
    justify-content: center;
    align-items: center;

}

.option {
    width: 30%;
    margin: 10px 15px ;
    padding: 25px;
    text-align: center;
    font-size: 40px;
    background-color: bisque;
}

.option:hover{
    cursor:pointer;
    transition:cubic-bezier(0.215,8.61,0.355,1)ease-in-out;
    transform:scale(4deg);
    -webkit-transform: scale(4deg);
    -moz-transform:scale(4deg);
    -ms-transform:scale(4deg);
    -o-transform:scale(4deg);
    -webkit-transition:cubic-bezier(0.215,0.61,0.355,1)ease-in-out;
    -moz-transition:cubic-bezier(0.215,8.61,0.355,1)ease-in-out;
    -ms-transition:cubic-bezier(0.215,0.61,0.355,1)ease-in-out;
    -o-transition:cubic-bezier(0.215,0.61,0.355,1)ease-in-out;
}